
# Test files
test_*.py
*_test.py

# Temporary files  
/tmp/
*.tmp

# Python cache
*.pyc
__pycache__/

# IDE files
.idea
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Model files
*.0
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.bin
*.json
*.pt
*.pth
*.txt

# Build and distribution files
build/
dist/
*.egg-info/

# Environment files
Pipfile
Pipfile.lock
.env
